body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Verdana, Arial, sans-serif;
}

div.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	background-color: #333;
	padding: 0 10px;
	padding-top: 4px;
}

div.header > span.title {
	color: white;
	font-size: 1.4em;
	font-variant: small-caps;
}

div.header > a {
	margin-top: 6px;
	float: right;
	color: white;
	font-size: 0.9em;
}

div.map-container {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
}

div.map {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

div.zoom-hint {
	display: none;
	position: absolute;
	left: 60px;
	right: 60px;
	top: 15px;
	z-index: 2000;
	pointer-events:none;
	text-align: center;
}

div.zoom-hint > span {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
	border-radius: 5px;
}

div.spinner {
	position: absolute;
	top: 25px;
	right: 25px;
}

div.leaflet-control-locate > a > span {
	margin-top: 5px;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 10px;
	background-color: white;
}
.marker-cluster div {
	background-color: orange;
	width: 16px;
	height: 16px;
	margin-left: 2px;
	margin-top: 2px;
	text-align: center;
	border-radius: 8px;
	font: 9px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 16px;
}
